<!DOCTYPE html>
<html>
<head>
	<title>BestBreed Search</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
	<nav>
	<ul class="ulNav">
		<li class="liNav"><a href="/">BestBreed</a></li>
		<li class="liNav"><a href="/search">Breed Search</a></li>
		<li class="liNav"><a href="/favorites">Favorite Breeds</a></li>
	</ul>
	</nav>