<% include partials/header %>

		<div id="image">
   			 <img class="center-block img-responsive" src="http://i.huffpost.com/gen/2380548/images/o-DOGS-GOLDEN-facebook.jpg" />

    		<div class="jumbotron text-center" id="introText">

        		<h1><span class="fa"></span> BestBreed</h1>

        		<h2>Find a dog breed that would fit your lifestyle the best!</h2>

        		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
       	 		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
   		 	</div>
   		 </div>
	</body>
</html>