<!doctype html>
<html>
<head>
    <title>BestBreed</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa"></span> BestBreed</h1>

        <h2>Find a dog breed that would fit your lifestyle the best!</h2>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
    </div>

    <img class="center-block img-responsive" src="http://i.huffpost.com/gen/2380548/images/o-DOGS-GOLDEN-facebook.jpg" />

</div>
</body>
</html>