<% include partials/header %>

		<div id="image">
   		 <img id="indexImage" src="/images/login.jpg" />
       <!-- class="center-block img-responsive" -->


    	<div  id="TextBoxOverImage">

        <h1>BestBreed</h1>
        <h2>Find a dog breed that would fit your lifestyle the best!</h2>

        <div class="indexButtonDiv">

          <form class="indexForm" action="/signup"><button type="submit" >Signup</button></form>

          <form class="indexForm" action="/login"><button type="submit" >Login</button></form>

        </div>  

   		</div>
   	</div>
	</body>
</html>