<!DOCTYPE html>
<html>
<head>
	<title>BestBreed Search</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

	<h1><a href="/search">BestBreed</a></h1>

	<div class="textSection">
		<img align="right" alt="happy dog" src="https://photosfine.files.wordpress.com/2012/04/white-dog-white-background-13.jpg">
		<p>All the puppies are cute. We doubt anybody would dare to question it. <br> Though when one gets a pup of their own, one should realize the responsibility over that creature that can last over a decade. It's very important not to follow emotions and get an animal that you cannot make happy due to any reason possible (some dogs grow huge, require proper grooming, are difficult to be trained, need tonnes of exercise, etc.) <br> That's why we have created BestBreed that allows to select the right breed based on its main characteristics. You can start with an overview of all TOP 100 dog breeds popular in the USA. 
		</p>
		
		<button id="seeAll">See All Breeds</button>
	</div>

	<div class="textSection">
		<img alt="different dogs" align="right" src="http://www.zastavki.com/pictures/originals/2013/Animals___Dogs__040325_.jpg">
		<p>Or you can go straight to selecting characteristics of your future pup. Just click on the respective features and see which breeds would fit your lifestyle the best.</p>

		<ul>
			<li class="list" data-name='smart'>Smart</li>
			<li class="list" data-name='alert'>Alert</li>
			<li class="list" data-name='loyal'>Loyal</li>
			<li class="list" data-name='large'>Large</li>
			<li class="list" data-name='small'>Small</li>
			<li class="list" data-name='non-alergic'>Non-alergic</li>
			<li class="list" data-name='playful'>Playful</li>
			<li class="list" data-name='intelligent'>Intelligent</li>
			<li class="list" data-name='spunky'>Spunky</li>
			<li class="list" data-name='fearless'>Fearless</li>
		</ul>

		<button class="filter-search">Search</button>	
	</div>

	<script
  	src="http://code.jquery.com/jquery-2.2.4.min.js"
  	integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  	crossorigin="anonymous"></script>
  	<script src="js/app.js"></script>

</body>
</html>