/*navigation*/

.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6bbc47;
}

.liNav {
    float: left;
    border-right: 1px solid #bbb;
}

.liNav:last-child {
    border-right: none;
}

.liNav a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

/*index page*/

h1, h2 {
	text-align: center;
	margin: 40px;
}

/*intro page*/

 .indexButtonDiv {
 	text-align: center;	
 }

 .indexForm {
 	display: inline-block;
 	padding: 5px;
 	font-size: 16px;
 }

 #image {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#TextBoxOverImage{
	position: absolute;
	width: 100%;
	top: 0px; 
    left: 0; 
    color: white; 
    font: bold 24px/45px; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.3);
    padding: 10px; 
}

/*search page*/

.textSection {
	margin: 30px;
	border: 2px solid black;
	overflow: auto;
	text-align: justify;
	font-size: 16px;
	padding: 20px;
	line-height: 150%
}

.breedDescr {
	text-align: justify;
	overflow: auto;
}

button {
	margin-left: 15px;
	margin-bottom: 20px;
	padding: 5px 15px 5px 15px;
	background-color: #6bbc47;
	border-radius: 5px;
	font-size: 16px;
}

p {
	padding: 15px;
}

.textSection img {
	margin: 20px;
	width: 25%;
}

@media screen and (max-width: 700px){
	.img {
		width: 80%; margin: 15px 10%;
	}
	#introText h2 {
		display: none;
	}
	#image {
		height: 100%;
	}
}


 .list {
 	display: inline-block;
 	padding: 7px;
 	border-radius: 3px;
 	border: solid #6bbc47 1px;
 	margin: 5px;
 }

.list.highlight {
	background-color: #6bbc47;
}

.filterList { 
	text-align: left;
	padding-left: 0;
 }


 /*result page*/

 .resultImg {
	vertical-align: top;
	margin: 15px;
	width: 25%;
}

 .favButton, .favList {
	display: inline-block;
}

.searchResult {
	border: solid black 2px;
	margin: 15px;
	padding: 10px;
	overflow: auto;
}

.name {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 15px;
}