h1 {
	text-align: center;
}

.textSection {
	margin: 10px;
	border: 2px solid black;
	overflow: auto;
	text-align: justify;
}

button {
	margin: 15px;
	padding: 10px;
}

p {
	padding: 15px;
	/*display: inline-block;*/
}

.img {
	margin: 15px;
	width: 25%;
}

@media screen and (max-width: 700px){
	.img {
		width: 80%; margin: 15px 10%;
	}
}